#container {}

#board{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.block {
  display:inline-block;
  width: 20px;
  height: 20px;
  background-color: #867970;
  outline: 1px solid #3D352A;

  /*font*/
  text-align: center;
  line-height: 33px;
  vertical-align: text-top;
  font-weight: bold;
  color: blue;
}

.block:hover, .block:active {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.block-clicked {
  background-color: #EFECE5;
  -moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
}

.mine {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/bomb.png");
  background-color: #FF0000;
}
